/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: helvetica, sans-serif;
    color: rgb(59, 59, 59)
}

h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

input {
    font-size: 16px;
    margin-bottom: 1em;
}


.error {
    padding: 15px;
    background-color: antiquewhite;
    border: solid 1px rgba(139, 0, 0, 0.36);
    color: rgba(139, 0, 0, 0.84);
    border-radius: 4px;
}